<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madcamp.lionmusic">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LastFmTestingActivity" />
        <activity android:name=".SongsActivity" />
        <activity android:name=".PlayerActivity" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".MyMusicActivity" />
        <activity android:name=".FriendActivity" />
        <activity android:name=".RegisterActivity"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".AddFriendActivity"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".SelectProfileActivity"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".FriendMusicActivity"/>
    </application>

</manifest>